#--------------------------------------------------------------------------------------------------
# Windows
#--------------------------------------------------------------------------------------------------

jobs:
- job: win32
  pool:
    vmImage: "windows-latest"
  steps:
  - bash: |
      sh build.sh win32 all
      cd deploy
      7z a ../HEVR.zip *
  - publish: $(System.DefaultWorkingDirectory)/HEVR.zip
    artifact: HEVR-win32

- job: win64
  pool:
    vmImage: "windows-latest"
  steps:
  - bash: |
      sh build.sh win64 all
      cd deploy
      7z a ../HEVR.zip *
  - publish: $(System.DefaultWorkingDirectory)/HEVR.zip
    artifact: HEVR-win64

#--------------------------------------------------------------------------------------------------

- job: win32_msvc
  pool:
    vmImage: "windows-latest"
  steps:
  - bash: |
      sh build.sh win32-msvc all
      cd deploy
      7z a ../HEVR.zip *
  - publish: $(System.DefaultWorkingDirectory)/HEVR.zip
    artifact: HEVR-win32-msvc

- job: win64_msvc
  pool:
    vmImage: "windows-latest"
  steps:
  - bash: |
      sh build.sh win64-msvc all
      cd deploy
      7z a ../HEVR.zip *
  - publish: $(System.DefaultWorkingDirectory)/HEVR.zip
    artifact: HEVR-win64-msvc

#--------------------------------------------------------------------------------------------------
# macOS
#--------------------------------------------------------------------------------------------------

- job: macOS
  pool:
    vmImage: "macOS-latest"
  steps:
  - bash: |
      sh build.sh macOS all
      cd deploy
      zip -rq ../HEVR.zip *
  - publish: $(System.DefaultWorkingDirectory)/HEVR.zip
    artifact: HEVR-macOS

#--------------------------------------------------------------------------------------------------
# Linux
#--------------------------------------------------------------------------------------------------

- job: linux32
  pool:
    vmImage: "ubuntu-latest"
  steps:
  - bash: |
      docker run -d --name ubuntu -v $PWD:/HEVR i386/ubuntu:18.04 tail -f /dev/null
      docker exec -t ubuntu bash -c "cd /HEVR;
                                     apt-get update;
                                     apt-get -y install sudo curl zip git;
                                     sh build.sh linux all;
                                     cd deploy;
                                     zip -rq ../HEVR.zip *"
  - publish: $(System.DefaultWorkingDirectory)/HEVR.zip
    artifact: HEVR-linux32

#--------------------------------------------------------------------------------------------------

- job: linux64
  pool:
    vmImage: "ubuntu-latest"
  steps:
  - bash: |
      docker run -d --name ubuntu -v $PWD:/HEVR amd64/ubuntu:18.04 tail -f /dev/null
      docker exec -t ubuntu bash -c "cd /HEVR;
                                     apt-get update;
                                     apt-get -y install sudo curl zip git;
                                     sh build.sh linux all;
                                     cd deploy;
                                     zip -rq ../HEVR.zip *"
  - publish: $(System.DefaultWorkingDirectory)/HEVR.zip
    artifact: HEVR-linux64
